@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    overflow-x: hidden;
}

details>summary {
    list-style: none;
}

details>summary::-webkit-details-marker {
    display: none;
}

input {
    all: unset;
}